backups/__2025-10-01.json
{
  "data": [
    {
      "createdAt": "2025-09-29T10:01:43.370Z",
      "updatedAt": "2025-10-01T15:25:37.000Z",
      "id": "D5Ec0Fzdmst4Lqpn",
      "name": "Backup N8N Workflows to GitHub",
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "seconds"
                }
              ]
            }
          },
          "id": "87edc387-18b6-48e0-a047-2cf59322ea41",
          "name": "Schedule Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.1,
          "position": [
            0,
            0
          ]
        },
        {
          "parameters": {
            "url": "http://localhost:5678/api/v1/workflows",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpHeaderAuth",
            "options": {}
          },
          "id": "b74731b1-3eb6-46c5-99cf-b991ed6a1f5c",
          "name": "Get All Workflows",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            208,
            0
          ],
          "credentials": {
            "httpHeaderAuth": {
              "id": "GmisiO8TI4eRpOZH",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "options": {}
          },
          "id": "beb3ea54-949e-4128-9cfb-49f0d81dd979",
          "name": "Split In Batches",
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [
            400,
            0
          ]
        },
        {
          "parameters": {
            "url": "=http://localhost:5678/api/v1/workflows/{{ $json.id }}",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpHeaderAuth",
            "options": {}
          },
          "id": "69f795b5-7758-473f-9b26-3145894c5c19",
          "name": "Get Single Workflow",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            640,
            0
          ],
          "credentials": {
            "httpHeaderAuth": {
              "id": "GmisiO8TI4eRpOZH",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const workflowName = $input.first().json.name;\nconst workflowJson = JSON.stringify($input.first().json, null, 2);\nconst base64Content = Buffer.from(workflowJson).toString('base64');\n\nreturn [{\n  json: {\n    workflowName: workflowName,\n    base64Content: base64Content\n  }\n}];"
          },
          "id": "f1d6d113-6bec-4655-adf6-ba0d472bc45d",
          "name": "Prepare Data",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            800,
            0
          ]
        },
        {
          "parameters": {
            "method": "PUT",
            "url": "=https://api.github.com/repos/francescoalo76-svg/jastatrigger/contents/backups/{{ $json.workflowName }}__{{ new Date().toISOString().split('T')[0] }}.json",
            "authentication": "genericCredentialType",
            "genericAuthType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Accept",
                  "value": "application/vnd.github.v3+json"
                }
              ]
            },
            "sendBody": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "message",
                  "value": "=Backup workflow {{ $json.workflowName }} - {{ new Date().toISOString().split('T')[0] }}"
                },
                {
                  "name": "content",
                  "value": "={{ $json.base64Content }}"
                }
              ]
            },
            "options": {}
          },
          "id": "1a6a5167-4e02-4a34-a4a4-8a676b83c2cf",
          "name": "Save to GitHub",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [
            1008,
            0
          ],
          "credentials": {
            "httpHeaderAuth": {
              "id": "lR8SxVSTBQm3etZo",
              "name": "Header Auth account 2"
            }
          }
        }
      ],
      "connections": {
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Get All Workflows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get All Workflows": {
          "main": [
            [
              {
                "node": "Split In Batches",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Split In Batches": {
          "main": [
            [],
            [
              {
                "node": "Get Single Workflow",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Single Workflow": {
          "main": [
            [
              {
                "node": "Prepare Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepare Data": {
          "main": [
            [
              {
                "node": "Save to GitHub",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Save to GitHub": {
          "main": [
            [
              {
                "node": "Split In Batches",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "timezone": "Europe/Rome",
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": "D5Ec0Fzdmst4Lqpn"
      },
      "staticData": {
        "node:Schedule Trigger": {
          "recurrenceRules": []
        }
      },
      "meta": null,
      "pinData": {},
      "versionId": "58cbf26a-6541-4121-af21-2fb1000b1de8",
      "triggerCount": 1,
      "shared": [
        {
          "createdAt": "2025-09-29T10:01:43.377Z",
          "updatedAt": "2025-09-29T10:01:43.377Z",
          "role": "workflow:owner",
          "workflowId": "D5Ec0Fzdmst4Lqpn",
          "projectId": "IieUoBIcSNke49nR"
        }
      ],
      "tags": [
        {
          "createdAt": "2025-09-29T10:01:14.274Z",
          "updatedAt": "2025-09-29T10:01:14.274Z",
          "id": "cT3zIfSAiID8Psjx",
          "name": "backup"
        },
        {
          "createdAt": "2025-09-29T10:01:14.229Z",
          "updatedAt": "2025-09-29T10:01:14.229Z",
          "id": "vHgGzNonN1ioQnQX",
          "name": "github"
        }
      ]
    },
    {
      "createdAt": "2025-09-29T15:08:12.316Z",
      "updatedAt": "2025-09-29T15:08:12.316Z",
      "id": "iltjEVmG580IXsx6",
      "name": "My workflow",
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            0,
            0
          ],
          "id": "2bfadbfc-2305-4857-862b-b71ba77be454",
          "name": "When clicking ‘Execute workflow’"
        }
      ],
      "connections": {},
      "settings": {
        "executionOrder": "v1"
      },
      "staticData": null,
      "meta": null,
      "pinData": {},
      "versionId": "876c5e9c-358a-42da-b662-88541014e303",
      "triggerCount": 0,
      "shared": [
        {
          "createdAt": "2025-09-29T15:08:12.328Z",
          "updatedAt": "2025-09-29T15:08:12.328Z",
          "role": "workflow:owner",
          "workflowId": "iltjEVmG580IXsx6",
          "projectId": "IieUoBIcSNke49nR"
        }
      ],
      "tags": []
    }
  ],
  "nextCursor": null
}